Source: golang-github-mreiferson-go-httpclient
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Dr. Tobias Quathamer <toddy@debian.org>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 3.9.8
Homepage: https://github.com/mreiferson/go-httpclient
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-mreiferson-go-httpclient.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/golang-github-mreiferson-go-httpclient.git
XS-Go-Import-Path: github.com/mreiferson/go-httpclient

Package: golang-github-mreiferson-go-httpclient-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Replaces: golang-mreiferson-httpclient-dev (<< 0.0~git20140425-2~)
Breaks: golang-mreiferson-httpclient-dev (<< 0.0~git20140425-2~)
Provides: golang-mreiferson-httpclient-dev
Description: Go HTTP client with timeouts
 This Go package provides an HTTP Transport that implements the RoundTripper
 interface and can be used as a built in replacement for the standard
 library's, providing:
 .
  * connection timeouts
  * request timeouts
 .
 This is a thin wrapper around http.Transport that sets dial timeouts and uses
 Go's internal timer scheduler to call the Go 1.1+ CancelRequest() API.

Package: golang-mreiferson-httpclient-dev
Section: oldlibs
Architecture: all
Depends: ${misc:Depends}, golang-github-mreiferson-go-httpclient-dev
Description: Transitional package for golang-github-mreiferson-go-httpclient-dev
 This is a transitional package to ease upgrades to the
 golang-github-mreiferson-go-httpclient-dev package. It can safely be removed.
